---
- name: disable default ntpservers
  ansible.builtin.replace:
    path: /etc/ntp.conf
    regexp: '^pool (.+)'
    replace: '#\1'

- name: change permission of /etc/ntp
  ansible.builtin.file:
    path: /etc/ntp
    state: directory
    owner: root
    group: ntpd
    mode: '0750'

- name: create local ntp configuration
  ansible.builtin.lineinfile:
    path: /etc/ntp/local.conf
    line: 'pool ntp.nict.jp iburst'
    state: present
    create: true

- name: include local ntp configuration
  ansible.builtin.lineinfile:
    path: /etc/ntp.conf
    line: 'includefile "/etc/ntp/local.conf"'
    state: present

- name: enable ntpd
  community.general.sysrc:
    name: ntpd_enable
    value: "YES"
    path: /etc/rc.conf

- name: sync on start
  community.general.sysrc:
    name: ntpd_sync_on_start
    value: "YES"
    path: /etc/rc.conf

- name: restart ntpd
  ansible.builtin.service:
    name: ntpd
    state: restarted

