---
- name: install bind9
  ansible.builtin.package:
    name:
    - bind920
#    - bind9-utils
#    - dnsutils
    state: present

- name: create named directory
  ansible.builtin.file:
    path: "{{ named_dir }}"
    state: directory

- name: copy named configurations
  ansible.builtin.template:
    src:  "{{ item }}"
    dest: "{{ named_dir }}/"
  loop:
  - named.conf
  - named.conf.local
  - db.example.com
  - db.172.16

#- name: copy local file
#  ansible.builtin.template:
#    src:  named.conf.local
#    dest: "{{ named_dir }}/"

#- name: copy options file
#  ansible.builtin.template:
#    src:  named.conf.options
#    dest: "{{ named_dir }}/"

#- name: copy zone file
#  ansible.builtin.template:
#    src:  db.example.com
#    dest: "{{ sysconfdir }}/named/"

#- name: copy reverse data files
#  ansible.builtin.template:
#    src:  "{{ item }}"
#    dest: "{{ sysconfdir }}/named/"
#  loop:
#  - db.192.168.0
#  - db.172.16.0
#  - db.172.16.1
#  - db.172.16.2
#  - db.172.16.3

#- name: update listen-on
#  ansible.builtin.lineinfile:
#    path: "{{ named_conf }}"
#    regexp: '(\s+)listen-on(\s+){.*};'
#    line:   '\1listen-on\2{ 127.0.0.1; 172.16.0.0/24; 172.16.1.0/24; 172.16.2.0/24; 172.16.3.0/24; };'
#    backrefs: true

- name: include named.conf.local
  ansible.builtin.lineinfile:
    path: "{{ named_dir }}/{{ named_conf }}"
    line: 'include "{{ named_dir }}/named.conf.local";'

- name: enable named
  community.general.sysrc:
    name: named_enable
    value: "YES"
    path: /etc/rc.conf

- name: restart named
  ansible.builtin.service:
    name: named
    state: restarted

